*{
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100wh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}
.container{
  width: 400px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
}
h1{
  color :brown;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 15px;
  text-align: center;
}
.time{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 15px;
  text-align: center;
}
.date{
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 15px;
  text-align: center;
}